.section_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.stars_form {
    color: red;
}
/* --------------------contenu form-------------- */
.champ_obligatoire {
    margin: 1em 0;
}
label,
.champ_obligatoire {
    font-weight: bold;
    font-size: 1.5em;
}
label {
    margin-top: 1em;
}
input,
select {
    margin-bottom: 1em;
}
input,
textarea,
select {
    padding: 0.5em;
    height: 3em;
}
option,
select {
    font-size: 1em;
}
textarea {
    height: 6em;
}
/* --------------------button envoyer-------------- */
.button_form {
    width: 5em;
    height: 3em;
    font-size: 1.3em;
    margin: 1em 0;
    border: none;
    color: white;
    background-color: black;
}
