.section_contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
form {
    width: 80%;
}
label,
.champ_obligatoire {
    font-weight: bold;
    font-size: 1.5em;
}
input,
textarea {
    padding: 0.5em;
}
.champ_obligatoire {
    margin: 1em 0;
}
/* ----------------------- * label ----------------- */
.stars_form {
    color: red;
}
/* -----------------------button radio objet demande----------------- */
.items_radio {
    display: flex;
    align-items: center;
    margin: 1em 0 1em 2em;
}
.items_radio > label {
    font-weight: 500;
    font-size: 1.3em;
    margin-left: 1em;
}
.items_radio > input {
    width: 2em;
    height: 2em;
}
/* -----------------------prenom nom mail telephone----------------- */
input {
    height: 3em;
}
.container_prenom_nom,
.container_mail_phone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.item_prenom,
.item_nom,
.item_mail,
.item_phone {
    width: 45%;
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
/* ----------------------------message-------------------------------- */
.item_message {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}
textarea {
    height: 6em;
}
/* --------------------------button envoyer---------------------------- */
.button_form {
    width: 5em;
    height: 3em;
    font-size: 1.3em;
    margin: 1em 0;
    border: none;
    color: white;
    background-color: black;
}
/* -------------------------media querys------------------------- */
@media screen and (max-width: 580px) {
    .container_prenom_nom,
    .container_mail_phone {
        flex-direction: column;
    }

    .item_prenom,
    .item_nom,
    .item_mail,
    .item_phone {
        width: 100%;
    }
}
