.section_top_reprise{
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('../images/reprise_materiel/bennes-maupu.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 20em;
    margin-top: 6em;
}
.title_reprise_materiel{
    margin: 1em 0;
    color: white;
}
.txt_top_reprise_materiel{
    width: 50%;
    color: white;
}
/* ---------votre expert de l'occasion-------- */
.section_votre_expert{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.logo_spai{
    width: 100%;
    height: 100%;
    max-width: 25em;
}
.content_votre_expert{
    width: 50%;
    margin: 1em;
}
.txt_votre_expert{
    margin: 1em 0;
    text-align: justify;
}
@media screen and (max-width: 1000px) {
    .section_top_reprise{
        padding: 0;
        justify-content: center;
    }
    .top_reprise_materiel{
        width: 90%;
    }
    .txt_top_reprise_materiel{
        width: 100%;
    }
}
@media screen and (max-width: 944px) {
    .content_votre_expert{
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .content_votre_expert{
        width: 100%;
    }
}