/* ----------------------------------------------------------------------------------------
-----------------Ce CSS gere les page pronar besson et alpego------------------------------
---------------------------------------------------------------------------------------- */

/* Fonds du haut des page pronar besson et alpego */
.div_top_pronar,.div_top_besson,.div_top_alpego{
    height: 20em;
    width: 100%;
    margin-top: 4.5em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.div_top_pronar{    
    background-image: url('/spai/images/pronar/top_pronar.webp');
}
.div_top_besson{    
    background-image: url('/spai/images/pronar/top_besson.webp');
}
.div_top_alpego{    
    background-image: url('/spai/images/pronar/top_alpego.webp');
}
.txt_presentation_pronar{
    width: 40%;
    margin: 1em;
}
/*  */
.container_benne{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_items_benne{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.txt_presentation_benne{
    width: 60%;
    text-align: center;
    padding: 2em 0;
}
.background{
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    transform: skewY(-5deg);
}
.background_amplirolls{    
    transform: skewY(5deg);
}
.items_benne{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 1em;
    margin: 1em;
}
.container_dl{
    text-align: center;
}
.dl_document{
    padding: 1em 1.5em;
    margin: 1em;
    border-radius: 1em;
}
/* bouton de téléchargement sur la page gregoire besson */
.dl_document_besson{
    color: white;
}

/* ------------------slider---------------- */
.slider,.diapo{
    position: relative;
    height: 20em;
    width: 100%;
}
@media screen and (max-width: 1039px) {    
    .txt_presentation_pronar,.txt_presentation_benne{
        width: 560px;
    }
}
@media screen and (max-width: 600px) {    
    .txt_presentation_benne{
        width: 80%;
    }
}