/*--------------  Nos Machines D'occasions --------------*/
.container_nos_machines{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    background: linear-gradient(274deg, RGBA(217, 180, 0, 0.7), RGBA(0, 161, 0, 0.7));
}
.item_dernieres_annonces{
    width: 100%;
}
.container_benne_machines{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em 0;
}
.items_machines, .item_piece_detachee{
    width: 40%;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 2em;
    margin: 0.5em;
    padding: 0 0 2em 0;
    box-shadow: 10px 10px 10px rgb(73, 73, 73);
}
.img_machine,.img_piece_detachee,.img_benne{
    width: 100%;
    height: 20em;
    border-radius: 2em 2em 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 150%;
    transition: 1s ease-in-out;
}
.img_machine:hover,.img_piece_detachee:hover,.img_benne:hover{
    background-size: 170%;    
}
.img_machine{
    background-image: url('../../images/accueil/machine_agricole.webp');
}
.img_benne{
    background-image: url('../../images/accueil/benne.webp');
}
.img_piece_detachee{
    background-image: url('../../images/accueil/piece_detachee.webp');
}
.txt_items_machine,.txt_items_piece{
    width: 80%;
}