/*------------------- Qui sommes nous ----------------------- */
.quiSommeNous {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3em 0;
    text-align: center;
}

.content_quiSommeNous {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: start;
}

.txt_quiSommeNous {
    width: 60%;
}