/*-------------- Service Reprise & Occasion --------------*/
.container_service_reprise {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.content_service_reprise{
    width: 40%;
}
.img_link_service_reprise{
    display: flex;
    flex-direction: column;
    align-items: center;
}